@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", monospace;
}

body {
  background-image: url(../assets/FundoAdm.png);
  
  display: flex;
}

.sidebar {
  width: 240px;
  color: #000;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s;
}

.sidebar-header {
  text-align: center;
  padding: 2rem;
  border-bottom: 3px solid rgb(255, 0, 0);
  background-color: #302f2f;
}

.sidebar-header h4 {
  color: #eaf205;
  font-size: 15px;
  font-weight: 900;
  margin-top: 0.5rem;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  line-height: 40px;
  font-size: 12px;
  text-align: center;
}

.nav-links li {
  padding: 12px 20px;
  cursor: pointer;
  transition: background 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #867305;
  text-shadow: 1px 1px 1px #e4e4c7;
}

.nav-links li:hover,
.nav-links li.active {
  background-color: #002244;
  color: floralwhite;
}

.logout {
  padding: 15px;
  background: #023e83;
  color: #f4f6f9;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  transition: background 0.3s;
}

.logout:hover {
  background: #000f2a;
  color: floralwhite;
}

/* main h2,
p {
    color: #EAF205;
} */

.content {
  font-size:2vh;
  display: block;
  flex: 1;
  padding: 1rem;
  overflow-y: auto; 
  height: 100%;
  box-sizing: border-box;
}


.cards-container {
  padding: 10px;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}

.card h4 {
  color: #003366;
  margin-bottom: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

thead {
  background-color: #003366;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade {
  margin-top: 1.2rem;
  animation: fadeIn 0.4s ease;
}

div.foto {
  width: 20%;
}

div.foto img {
  width: 140%;
}
/* === ESTOQUE / LISTA DE PRODUTOS === */
.lista-produtos {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 39px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2000px;
  /* align-content: center; */
  justify-content: center;
  align-items: baseline;
}

.produto-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.produto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.produto-card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.produto-card h3 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.produto-card p {
  font-size: 14px;
  color: #777;
}

.produto-card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.produto-card button:hover {
  background-color: #b30000;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.modal-box {
  background: #fff;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
  animation: fadeIn 0.2s ease;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.modal-confirm {
  background: #ff4444;
  color: #fff;
}
.modal-cancel {
  background: #ccc;
}
.modal-ok {
  background: #4caf50;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

#tabelaUsuarios {
  background-color: whitesmoke;
}

h2 {
  color: #070705;
  text-shadow: 0 0 8px #ffffff;
  text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff,
    2px 2px 0 #ffffff;
}

a{
  text-decoration: none;
}

#products form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    /* align-content: center; */
    padding: 40px
}

#products form label{
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}




#products form input{
  padding: 10px;
    border: 4px solid #ffeb00;
    border-radius: 40px;
}

#products form button{
    padding: 15px 30px;
    background-color: #e5ff00;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#products form button:hover{
    background-color: #2cae25;
    color: #0a0a2a;
    transform: scale(1.05);
}

#upload-imagem1{
    border: none;
    padding: 0;
}

#upload-imagem2{
    border: none;
    padding: 0;
}
#products form input[type="file"]{
    cursor: pointer;
}
#products form select{
    padding: 10px;
    border: 4px solid #ffeb00;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}
#products form select option{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
